
@{
    ViewBag.Title = "NotYourItem";
}

<h2>NotYourItem</h2>

You do not own this item.  You must be an administrator or the owner of this item to perform this action.
<p></p><p></p>
Go to  @Html.ActionLink("Home","Index","Home")

