
@{
    ViewBag.Title = "Index";
}
You are HERE!
<h2>Index</h2>

   <p>
       @Html.ActionLink("Simulate Divide By Zero", "SimulateDivideByZero");

   </p>

   <p>
       @Html.ActionLink("Simulate Database Not Connected", "SimulateDALNotConnected");

   </p>

   <p>
       @Html.ActionLink("Simulate Stored Procedure Not Found", "SimulateDALProcedureNotFound");

   </p>
   <p>
       @Html.ActionLink("Simulate Stored Procedure Parameter Not Found", "SimulateDALParameterNotFound");

   </p>

